/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bc-order-details h4 {
  margin: 15px 0 15px;
  text-align: center;
}

.bc-address-form {
  display: flex;
  margin: 15px 0 15px;
}

.bc-crew-card {
  display: flex;
}

.bc-crew-nearest {
  display: flex;
}

.bc-order-details .row {
  margin-left: 0;
}

.bc-map-with-card-list {
  display: flex;
}

.bc-crew-list-card {
  display: flex;
  border: solid;
  border-width: .2rem;
  border-radius: 8px;
  border-color: gray;
}

.bc-crew-list {
  border: solid;
  border-color: gray;
  border-width: .2rem;
  width: 30%;
}
